@charset "utf-8";

/* 共通 */
body {
    overflow: hidden;
}

.main {
    top: 0;
    margin-bottom: 0;
}

.main_inner {
    max-width: 100vw;
}

.w100 {
    width: 100%;
}

.btn_item_link {
    display: inline-block;
    padding: 15px 30px;
    transition: 0.3s;
    border-radius: 20px;
    color: black;
    margin-top: 30px;
}

/* 波 */
/* .svgwave {
    position: relative;
    top: -5px;
}

.infotop {
    background-color: #d7f794;
}

.interviewtop {
    background-color: #fff8e6;
}
.maptop {
    background-color: #fdffb0;
}
.childcafetop {
    background-color: #fff8e6;
}
.surporterstop {
    background-color: #d7f794;
}
.linktop {
    background-color: #fff8e6;
}
.noticetop {
    background-color: #fdffb0;
}
.contacttop {
    background-color: #fff8e6;
}
.activitytop {
    background-color: #d7f794;
} */
/* 旧ボタン */
/* .btn_item {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f8b600;
    border-radius: 10px;
    color: black;
     text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.44), 1px 1px 1px #4a0a11;
    text-align: center;
    margin: 50px 50px 0;
} */

html {
    overflow-y: scroll;
}

/* .btn_item:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: shad26 1.5s infinite;
}
@keyframes shad26 {
    0% {
        box-shadow: 0 0 0 0 orange;
    }
    70% {
        box-shadow: 0 0 0 10px rgb(39 172 217 / 0%);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(39 172 217 / 0%);
    }
} */

/* キービジュアル */

.kv {
    position: relative;
}

.kv_slider {
    width: 100vw;
    height: calc(100vh - 90px);
}

.kv_slider img {
    width: 100vw;
    height: calc(100vh - 90px);
    /* height: 100vh; */
    object-fit: cover;
}

.hbg_search_pc {
    display: none;
}

.kvphrase {
    position: absolute;
    top: 217px;
    left: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 #ffb700, -1px -1px 0 #ffb700, -1px 1px 0 #ffb700,
        1px -1px 0 #ffb700, 0px 1px 0 #ffb700, 0-1px 0 #ffb700, -1px 0 0 #ffb700,
        1px 0 0 #ffb700;
}

@media (min-width: 770px) {
    .kv {
        position: relative;
    }
    .kvphrase {
        left: 13%;
        font-size: 36px;
    }
    .hbg_search_pc {
        display: block;
        z-index: 9;
        top: 100px;
        left: 1000px;
        background-color: #d7f794;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
    }

    /* .hbg_submit {
        width: 28.5px;
    } */
}

/* 子ども食堂とは */
.concept {
    background-color: #d7f794;
    padding-top: 70px;
}

.concept_title {
    margin: 0 auto;
}

.onigiri_inner {
    padding-bottom: 80px;
}

.concept_text {
    position: relative;
    z-index: 2;
}

.onigiri {
    position: absolute;
    width: 99px;
    height: 95px;
    bottom: 3px;
    bottom: -120px;
    left: -100px;
    z-index: 1;
    animation: korogari 6s linear infinite alternate;
}

.onigiri_small {
    position: absolute;
    width: 49px;
    height: 45px;
    bottom: 0;
    left: -120px;
    bottom: -120px;
    left: -140px;
    z-index: 1;
    animation: korogari_small 6s linear infinite alternate;
}

@keyframes korogari {
    0% {
        transform: rotate(0deg);
    }
    100% {
        left: 105vw;
        transform: rotate(1120deg);
    }
}
@keyframes korogari_small {
    0% {
        transform: rotate(0deg);
    }
    100% {
        left: 100vw;
        transform: rotate(1120deg);
    }
}

/* このサイトについて */

.rainbow_inner {
    position: relative;
}

.about {
    position: relative;
    z-index: 10;
}

.rainbow {
    width: 320px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: -10%;
    margin: auto;
    opacity: 30%;
    z-index: -1;
}

@media (min-width: 770px) {
    .rainbow {
        width: 450px;
        height: 450px;
        top: -60px;
    }
}

/* pickupインタビュー */
.interviews {
    background-color: #fdffb0;
}

.taleft {
    position: relative;
    text-decoration: none;
    width: 286px;
    z-index: 10;
}

.crayon {
    position: absolute;
    width: 330px;
    height: 50px;
    left: -18px;
    top: 55px;
    z-index: -1;
}

@media (min-width: 770px) {
    .interviews_section_inner {
        padding: 0;
    }
    .taleft {
        width: 435px;
    }
    .crayon {
        top: 80px;
        width: 470px;
    }
}

/* pickupスライドショー */

/* .pickup_slide li {
    position: relative;
    overflow: visible;
} */

.pickup_slide {
    max-width: 1024px;
    /* width: 66.7vw; */
    height: 405px;
    margin: 50px auto 0;
}

/* スリック矢印 */
.slick-prev:before {
    content: "\f0a8";
    color: orange;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: none;
}
.slick-next:before {
    content: "\f0a9";
    color: orange;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: none;
}
.slick-next {
    left: 100.5%;
    display: none;
}

.slick-prev {
    left: calc(-0.5% - 30.5px);
    display: none;
}
/* スリック矢印ここまで */

.pickup_slider img {
    /* width: 214px;
    height: 221px; */
    height: 200px;
    /* border-radius: 5px; */
    border-radius: 10px;
    border: solid 1px #665a3d;
    object-fit: cover;
    aspect-ratio: 4/3;
    /* margin: 0 auto; */
}

.item_card {
    margin-bottom: 5px;
}

hr {
    width: 100%;
}

.pickup_slider {
    justify-content: space-between;
}

.slick-slide.slick-active {
    /* height: 405px; */
    display: flex;
    justify-content: center;
}

@media (min-width: 770px) {
    .pickup_slide {
        margin-top: 70px;
    }

    /* .pickup_slide li {
        margin: 0 15px;
    } */

    /* .pickup_slider img {
        width: 280px;
        height: 200px;
    } */
    /* .interviews {
        margin-bottom: 30px;
    } */
    .slick-prev:before {
        content: "\f0a8";
        font-size: 30px;
    }
    .slick-next:before {
        font-size: 30px;
    }

    .slick-next {
        display: block;
    }

    .slick-prev {
        display: block;
    }
}

/* MAP */
.map .section_inner {
    position: relative;
}

.serch_map_img {
    display: none;
}

@keyframes mushimegane {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(15deg);
        left: -10vw;
    }
}

.map .pic {
    width: 306px;
    height: 230px;
    position: relative;
    z-index: 1;
}

.map_pic {
    margin: 50px auto 0;
    position: relative;
    text-align: center;
    width: 306px;
    height: 230px;
    z-index: 1;
}

.serch_btn {
    text-align: center;
    width: 83px;
    height: 43px;
    border-radius: 5px;
    line-height: 45px;
}

.north {
    position: absolute;
    right: 15%;
    top: 40px;
    z-index: 10;
    transition: 0.5s;
    border-radius: 50% 50%;
    background-color: rgba(247, 221, 148, 0.66);
}

.south {
    position: absolute;
    right: 20%;
    top: 135px;
    z-index: 10;
    transition: 0.5s;
    border-radius: 50% 50%;
    background-color: rgba(215, 247, 148, 0.66);
}

.west {
    position: absolute;
    left: 10%;
    top: 70px;
    z-index: 10;
    transition: 0.5s;
    border-radius: 50% 50%;
    background-color: rgba(253, 255, 176, 0.66);
}

@media (min-width: 770px) {
    .serch_map_img_inner {
        position: absolute;
        top: 60px;
        left: 5px;
    }

    .serch_map_img {
        display: block;
        width: 100%;
        height: 350px;
        opacity: 30%;
        transform: rotate(0deg);
        animation: mushimegane 3s linear infinite alternate;
    }

    .map_pic {
        margin: 70px auto 0;
        width: 581px;
        height: 461px;
    }
    .map .pic {
        width: 581px;
        height: 461px;
    }
    .serch_btn {
        width: 100px;
        height: 60px;
        line-height: 62px;
        transition: 0.3s;
    }
    .north {
        right: 20%;
        top: 90px;
    }
    .north:hover {
        box-shadow: 0px 10px 19px 2px #000;
        width: 120px;
        height: 80px;
        line-height: 82px;
        transform: translateY(-15px);
        box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
    }
    .south {
        right: 20%;
        top: 280px;
    }
    .south:hover {
        box-shadow: 0px 10px 19px 2px #000;
        width: 120px;
        height: 80px;
        line-height: 82px;
        transform: translateY(-15px);
        box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
    }
    .west {
        left: 25%;
        top: 150px;
    }
    .west:hover {
        left: 25%;
        top: 150px;
        width: 120px;
        height: 80px;
        line-height: 82px;
        transform: translateY(-15px);
        box-shadow: 0px 10px 19px 2px #000;
        box-shadow: 0px 4px 7px -3px rgba(24, 24, 24, 0.5);
    }
    .map .btn_item01 {
        margin-bottom: 30px;
    }

    @keyframes mushimegane {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(15deg);
        }
    }
}

/* 支援したい方へ */

.shien_box {
    position: relative;
}

.childcafe {
    background-color: #d7f794;
}

.mobile_pic {
    position: absolute;
    left: 55%;
    top: 30px;
    opacity: 30%;
    width: 177px;
    height: 177px;
}

.pc_pic {
    width: 130px;
    height: 280px;
    display: none;
}

@media (min-width: 1100px) {
    .mobile_pic {
        width: 130px;
        height: 280px;
        left: 65%;
        top: -200px;
        opacity: 1;
    }
    .pc_pic {
        display: block;
        position: absolute;
        top: -202px;
        right: 65%;
    }
    .surporters .text {
        width: 590px;
        text-align: left;
    }
    .surporters .btn_item01 {
        margin-bottom: 30px;
    }
}

/* リンク集 */

.link {
    background-color: #fdffb0;
}

/* .link_title {
    margin-bottom: 50px;
} */

.link_cover {
    display: block;
}

.link_item {
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 0 30px 30px 30px;
    border: 1.5px solid orange;
    background-color: #fff8e6;
    border-radius: 10px;
}

.link_sample {
    background-color: #f7dd94;
}

.link_sample02 {
    background-color: #d7f794;
}

.btntest {
    background-color: #fdffb0;
}

.link_sample,
.link_sample02,
.btntest {
    width: 90%;
    margin: 0;
    margin-top: 30px;
}

.link_text {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: left;
    overflow-wrap: break-word;
}

.link_flex {
    margin: 50px auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .link_flex {
        width: 100%;
        margin: 70px auto 0;
        flex-direction: row;
        justify-content: center;
        /* margin-bottom: 30px; */
    }

    .link_item:hover {
        opacity: 0.8;
        transform: translateY(5px);
        box-shadow: 0 0 0 #333;
    }

    /* 縦並び */
    /* .link_item + .link_item {
        margin-top: 20px;
    }
    .link_sample {
        margin-right: 70px;
    }
    .btntest {
        margin-right: 38px;
    }
    .link_flex {
        flex-direction: column;
    }
    .link_item {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */
}

/* 活動の様子 */

.contact {
    background-color: #d7f794;
    padding-bottom: 70px;
}

.contact .btn_item01,
.btn_item001 {
    margin: 10px auto 30px;
}

.activity_slide {
    margin: 0 auto;
    max-width: 500px;
    width: 80%;
}
.activity_slider {
    margin: 0 5px;
}
.activity_slider img {
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 50px 0;
}

.slick-dots {
    bottom: 0;
    top: 135px;
}

@media (min-width: 485px) {
    .footer {
        position: relative;
    }
}
@media (min-width: 770px) {
    .activity_slide {
        max-width: 1024px;
        width: 80%;
        height: 170px;
        margin-bottom: 0;
    }
    /* .activity_slider img {
        height: 150px;
    } */

    .slick-dots {
        top: 200px;
    }
    .footer {
        top: 0;
    }

    .slick-dots li button:before {
        font-size: 18px;
        top: 6px;
    }
}

/* footermargin削除 */
.footer {
    margin-top: 0px;
}

/* 波の設定 */
.concept_wave {
    width: 100%;
    height: 80px;
    background-color: #fff8e6;
}

.onigiriup {
    width: 100%;
    height: 80px;
    background-color: #fff8e6;
}

.onigiribottom {
    width: 100%;
    height: 80px;
    background-color: #fff8e6;
}

.interview {
    width: 100%;
    height: 80px;
    background-color: #fff8e6;
}

.link_wave {
    width: 100%;
    height: 80px;
    background-color: #fff8e6;
}

.contact_wave {
    width: 100%;
    height: 80px;
    background-color: #fff8e6;
}
