@charset "utf-8";

.faq {
    width: 100%;
}

.text {
    padding: 20px;
    border-radius: 10px;
    background-color: #e9fcc1;
    text-align: left;
}

.text p img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.text p:nth-child(1) {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #c8f763;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    /* text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: gray; */
    /* text-underline-offset: 5px; */
}

.text p:nth-child(2) {
    text-align: left;
}

.text a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: gray;
    text-underline-offset: 5px;
}

.text a:hover {
    color: #f8b600;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: #f8b600;
    text-underline-offset: 5px;
}

.btn_faq a {
    width: 230px;
    padding: 30px 30px;
}

@media screen and (min-width: 770px) {
    .text {
        width: 70%;
        padding: 30px;
    }

    .text p:nth-child(1) {
        text-decoration-thickness: 5px;
    }
}
