@charset "utf-8";

.logo_img img {
    width: 300px;
}

.logo_img {
    width: 300px;
    margin: 50px auto;
}

@media screen and (min-width: 770px) {
    .logo_img img {
        width: 500px;
    }

    .logo_img {
        width: 500px;
        margin: 70px auto;
    }
}
