@charset "utf-8";
.text {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 10%;
    margin-top: 50px;
}

.text_inner {
    border-radius: 30px;
    background-color: #fffbf1;
    border: 5px solid #ffdf8c;
    padding: 30px;
}

.amazon_text {
    text-align: left;
}

.amazon_item a {
    display: inline-block;
}

.amazon_item {
    max-width: 330px;
    margin: 50px auto;
    flex-direction: column;
}

.item_card {
    flex-direction: column;
    justify-content: space-between;
}

.item_card p + p {
    margin-top: 0;
}

.btn_item {
    margin-top: 0;
}

.btn_cafeinfo a {
    background-color: #d7f794;
}

.btn_cafeinfo a:hover {
    background-color: rgba(216, 247, 148, 0.5);
}

.btn_item a {
    padding: 0.5em 1em;
}

@media screen and (min-width: 770px) {
    .text {
        margin-top: 70px;
    }

    /* カード */
    .amazon_item {
        max-width: 1024px;
        width: 70%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        margin-top: 70px;
    }

    .item_card {
        display: flex;
        margin: unset;
    }
    .item_card:hover {
        opacity: unset;
        transform: unset;
    }
}

@media screen and (min-width: 1064px) {
    .amazon_item {
        width: 100%;
    }
}
