@charset "utf-8";
.support_inner {
    border-radius: 30px;
    background-color: #fffbf1;
    border: 5px solid #ffdf8c;
    padding: 30px;
}

.support_content {
    text-align: left;
}

.text_support {
    margin-top: 75px;
}

.text_inner {
    padding: 0 10%;
}

.text_title {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #d7f794;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

.text a {
    margin: 20px 0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: gray;
    text-underline-offset: 5px;
}

.text a:hover {
    color: #f8b600;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: #f8b600;
    text-underline-offset: 5px;
}

.mt1em {
    margin-top: 1em;
    display: block;
}

.mt1em a {
    margin: 20px 0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: gray;
    text-underline-offset: 5px;
}
/***********************
        タブ
 **********************/

.tab {
    max-width: 980px;
    /* height: 75px; */
    margin: 50px auto 0;
    /* justify-content: space-between;
    align-items: center; */
    font-weight: 500;
    line-height: 55px;
}

.tab_1,
.tab_2,
.tab_3 {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    /* padding: 18px 0; */
    text-align: center;
    vertical-align: middle;
}

.tab_1 {
    background-color: #f7dd94;
}

.tab_2 {
    background-color: #d7f794;
}

.tab_3 {
    background-color: #fdffb0;
}

.panel {
    display: none;
}

.is-show {
    display: block;
}

.tab_js {
    cursor: pointer;
}

/**************************
    人的・物的・金銭的詳細
 **************************/
.support_content {
    /* max-width: 100%;
    margin-top: 20px; */
}

.support_supplies,
.support_money,
.support_help {
    /* max-width: 650px; */
    max-width: 700px;
    /* width: 280px; */
    /* width: 80%; */
    /* width: 100%;
    height: auto;
    margin: 0 auto; */
    margin: 50px auto 0;
    padding: 30px;
    border-radius: 10px;
    /* text-align: center; */
}

.support_supplies {
    background-color: #f7dd94;
}

.support_text {
    padding: 10px;
    text-align: left;
    margin: 0 auto;
}

.support_money {
    background-color: #d7f794;
}

.support_help {
    background-color: #fdffb0;
}

.support_subtitle01,
.support_subtitle02,
.support_subtitle03 {
    /* width: 90%;
    height: auto; */
    font-weight: 500;
    /* padding-top: 8px; */
    border: dashed 2px white;
    margin: 0 auto;
    width: fit-content;
    line-height: normal;
    padding: 0.2em 0.5em;
    /* white-space: pre-wrap; */
    word-break: keep-all;
}

.support_subtitle01 {
    background: #f7eac6;
    box-shadow: 0px 0px 0px 5px #f7eac6;
}

.support_subtitle02 {
    background: #e8f7c6;
    box-shadow: 0px 0px 0px 5px #e8f7c6;
}

.support_subtitle03 {
    background: #fdffcc;
    box-shadow: 0px 0px 0px 5px #fdffcc;
}

.support_supplies p,
.support_money p,
.support_help p {
    /* width: 195px; */
    /* margin: 20px auto; */
    margin-top: 50px;
    /* text-align: left; */
}

.support_btn {
    /* width: 50%; */
    width: fit-content;
    /* height: 60px; */
    height: auto;
    /* padding: 13px; */
    padding: 2em;
}

.font_awsome {
    text-align: center;
    /* margin-top: 10px; */
    margin-top: 25px;
    /* margin-bottom: 20px; */
}

/* ボタン */

.support_btn_item {
    width: 100%;
    text-align: center;
    /* margin-top: 50px; */
    margin-top: 25px;
}

.btn01 a {
    /* display: inline-block;
    padding: 15px 30px; */
    background-color: #fdffb0;
    /* transition: 0.3s;
    border-radius: 20px;
    transform: translateY(0);
    color: black; */
}

.btn01 a:hover {
    /* padding: 15px 40px;
    transform: translateY(-5px); */
    background-color: #fdffb0;
}

.btn02 a {
    /* display: inline-block;
    padding: 15px 30px; */
    background-color: #f7dd94;
    /* transition: 0.3s;
    border-radius: 20px;
    transform: translateY(0);
    color: black; */
}

.btn02 a:hover {
    /* padding: 15px 40px;
    transform: translateY(-5px); */
    background-color: #f7dd94;
}

.btn03 a {
    /* display: inline-block;
    padding: 15px 30px; */
    background-color: #d7f794;
    /* transition: 0.3s;
    border-radius: 20px;
    transform: translateY(0);
    color: black; */
}

.btn03 a:hover {
    /* padding: 15px 40px;
    transform: translateY(-5px); */
    background-color: #d7f794;
}

@media screen and (min-width: 770px) {
    .text_support {
        margin-top: 105px;
    }

    .support_supplies,
    .support_money,
    .support_help {
        margin-top: 70px;
        padding: 50px;
    }

    .support_subtitle01,
    .support_subtitle02 {
        /* width: 40%; */
    }

    .support_supplies p,
    .support_money p,
    .support_help p {
        margin-top: 70px;
    }

    .font_awsome {
        margin-top: 35px;
    }

    .support_btn_item {
        margin-top: 35px;
    }

    .tab_1:hover {
        background-color: #fcc800;
    }

    .tab_2:hover {
        background-color: #a7d28d;
    }

    .tab_3:hover {
        background-color: #fff462;
    }

    .support_btn {
        /* width: 30%;
        height: 100px;
        padding: 35px;
        margin-top: 50px; */
    }

    .support_btn:hover {
        background: #f7c331;
    }

    .support_supplies p,
    .support_money p,
    .support_help p {
        /* width: 580px; */
    }

    .btn_center {
        /* width: 350px; */
    }
}

.block {
    /* display: inline-block; */
}
